<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Hirocafe Extension Configuration</title>
    <meta name="description" content="Configure Github Path">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./spectrum-core.css">
    <link rel="stylesheet" href="./spectrum-light.css">
    <style>
      input:invalid {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
  <div class="container">
    <h3>This is sample Extension Code for Hirofumi</h3>
    <p>Use this extension to update customize code
    <p>Enter your Git path here:</p>
    <form class="spectrum-Form">
      <div class="spectrum-Form-item">
        <label class="spectrum-Form-itemLabel spectrum-FieldLabel--left" for="githubPath">Git Path</label>
        <div class="spectrum-Form-itemField">
          <input type="text" id="githubPath" class="spectrum-Textfield" required autofocus>
        </div>
      </div>
    </form>
  </div>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>

      var githubPathInput = document.getElementById('githubPath');

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            githubPathInput.value = info.settings.githubPath;
          }
        },

        getSettings: function() {
          githubPath: githubPathInput.value
        },

        validate: function() {
          return githubPathInput.checkValidity();
        }
      });
    </script>
  </body>
</html>
