<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Adobe Fonts Extension Configuration</title>
  <meta name="description" content="Configure Typekit ID">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="./spectrum-core.css">
  <link rel="stylesheet" href="./spectrum-light.css">
  <style>
    input:invalid {
      border: 1px solid red;
    }
  </style>
</head>

<body class="spectrum spectrum--light">
  <div class="container">
    <h3>Display your msg on your web-site</h3>
    <p>Enter Message Here</p>
    <form class="spectrum-Form">
      <div class="spectrum-Form-item">
        <label class="spectrum-Form-itemLabel spectrum-FieldLabel--left" for="msgID">Message</label>
        <div class="spectrum-Form-itemField">
          <input type="text" id="msgID" class="spectrum-Textfield" required autofocus>
        </div>
      </div>
    </form>
  </div>

  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script>

    var msgIDInput = document.getElementById('msgID');

    window.extensionBridge.register({
      init: function (info) {
        if (info.settings) {
          msgIDInput.value = info.settings.msgID;
        }
      },

      getSettings: function () {
        return {
          msgID: msgIDInput.value
        }
      },

      validate: function () {
        return msgIDInput.checkValidity();
      }
    });
  </script>
</body>

</html>